$gray-100: #f8f8f8;
$gray-200: #ececec;
$gray-300: #e1e1e1;
$gray-400: #cecece;
$gray-500: #aaaaaa;
$gray-600: #88888c;
$gray-700: #5f5e62;
$gray-800: #3f3f41;
$gray-900: #2a292d;

$grays: (
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900,
);

$crayola: #25ab6e;
$amaranth: #af2e4e;

$colors: (
  "crayola": $crayola,
  "amaranth": $amaranth,
);

$secondary: #6c757d;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
  "crayola": $crayola,
  "amaranth": $amaranth,
);

$font-family-base: $roboto-regular;

$font-size-base: 0.875rem;
$font-size-lg: 1rem;
$font-size-sm: 0.8125rem;

$h1-font-size: 42px;
$h2-font-size: 36px;
$h3-font-size: 30px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 18px;

$display1-size: 72px;
$display2-size: 60px;
$display3-size: 54px;
$display4-size: 48px;
$display-line-height: 1.1;

$sizes: (
  200: 300px,
  500: 500px,
);

@import "../../../node_modules/bootstrap/scss/bootstrap";
